body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px;
}