body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.line {
    
}
.f1 {
    font-size: 60px; /* 文字の大きさを設定 */
    color: white;
    font-weight: bold; /* 文字を太くする */
    margin: 20px;
}
.container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
}
.container button:hover {
    background-color: #7fd494; /* ホバー時の背景色を変更 */
}
.container {
    display: flex; /* 要素を縦に並べるためのフレックスボックス */
    flex-direction: column; /* 要素を縦に並べる */
    align-items: center; /* 要素を中央に配置する */
    margin-left: 50px;
}

#point {
    margin-bottom: 20px; /* ボタンとの間隔を設定 */
    font-size: 24px;
}
.container {
    display: flex; /* 要素を横に並べるためのフレックスボックス */
    align-items: center; /* 要素を中央に配置する */
}
#picture{
   transform: scale(-1,1);
}
